/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/***********/
/* KLEUREN */
/***********/

:root {
    --main-color: #E60012;
    --footer-color: #BF0010;
}

body{
  font-family: sans-serif;
}

body.mario {
    background-color: #FFD9D9;
}

body.luigi {
    background-color: #C7FFB6;
}

body.peach {
    background-color: #FFE1F3;
}

/**********/
/* HEADER */
/**********/

header ul { 
    background: var(--main-color);

    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    
    
   list-style-type: none;
   padding: 0; 
   /* De padding staat op 0, omdat een list van zichzelf een margin-left van 40px heeft. */
}

.mario header ul {
    background-color: #000ABA;
}

.luigi header ul { 
    background-color: green;
}

.peach header ul {
    background-color: hotpink;
}

header li {
    display:flex;
    margin: 0.5em;
}

header li:first-of-type {
    flex-grow: 1;
    /* Flex grow zorgt ervoor dat het de beschikbare ruimte overneemt. En omdat die alleen op het eerste item staat,
    pakt die alleen de eerste. En de verhouding is 1, omdat die andere toch niks hebben.
    
    Waarom is hier een display flex nodig: */
}

header a {
    display:flex;
    flex-direction: column;
    align-items: center;

    color: white;
    text-decoration: none;
    font-size: 10px;

    transition: 500ms;
}

a:hover {
    text-decoration-line: underline;
}

header a:hover img{
    transform: rotate(360deg);
    transition: 500ms;
}

header a:focus img{
    transform: scale(2);
    transition: 500ms;

}

header a:focus{
    color: black;
}


header li img {
    margin: 0.5em;
    width: 20px;
    height: 20px;
}

header li:first-of-type img {
    height: 30px;
    width: auto;
}

/* We spreken hier aan: de img in de eerste li van de header. */

/**********/
/* GAMES */
/**********/

/* MOBIEL */


h1 {
    visibility: hidden;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Miss even vragen of er een betere manier is om dit in het midden te zetten? */

section:first-of-type {
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

section:first-of-type article{
    margin: 1em;
}
section:first-of-type a{
    display: block;
    position: relative;
    /* dubbel */
}

section:first-of-type article h2{
    position: absolute;
    bottom: 0;
    
    margin: 0;
    padding: 0.3em;
    width: 100%;
    height: 10%;
    
    color: white;
    background-color:rgba(0,0,0, 0.6);
}

article img{
    display: block; 
    width: 100%;
    }

/* Breakpoint voor iPad/Tablet */

@media (min-width: 600px){
    body{
        background-color: white; 
    }
    section:first-of-type {
        width: 100vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 45% 45%;

        grid-template-rows: auto auto auto;
        grid-gap: 0.5em;
    }

    main {
        padding: 0 1em;
    }

     section:first-of-type article {
        margin: 0;
    }
    section:first-of-type article:first-of-type{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    section:first-of-type article:nth-of-type(2){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
}
    section:first-of-type article:nth-of-type(3){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    section:first-of-type article:nth-of-type(4){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        }
    }

/* Breakpoint voor desktop */

@media (min-width:1050px) {

    body{
        background-color: white;
    }

    h2 {
        display: flex;
        flex-direction: row;
        justify-content: left;

        margin-left: 4.5%;
    }

    section:first-of-type {
        width: 100vw;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        /* Hier kun je het aantal rijen mee bepalen. Alleen blijven ze de standaard maat die de afbeelding heeft. 
        Als ik ze een kleiner getal geef, dan pakken ze niet de hele afbeelding, maar een deel. */
        grid-template-rows: auto auto;
        grid-gap: 0.5em;
    }

    /* Hier plaats ik de articles in het grid */
    section:first-of-type article:first-of-type{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    section:first-of-type article:nth-of-type(2){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        
        }
    section:first-of-type article:nth-of-type(3){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        }

    section:first-of-type article:nth-of-type(4){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        }

    section:first-of-type a{
        display: block;
        position: relative;
        /* dubbel */
    }
        
    /* Algemene regel voor alle items in het grid, zodat de foto mooi past in de article */
    article img{
    display: block; 
    width: 100%;
    /* dubbel */
    }

    section:first-of-type article h2{
        position: absolute;
        bottom: 0;
        
        margin: 0;
        padding: 0.3em;
        width: 100%;
        height: 10%;
        
        color: white;
        background-color:rgba(0,0,0, 0.6);
        /* dubbel */
    }

}

/**********/
/* NIEUWS */
/**********/

    Section:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    Section:nth-of-type(2) article {
        width: 330px;
        margin: 1em;

        display: flex;
        flex-direction: column;
    }

    Section:nth-of-type(2) img {
        width: 300px;
        height: 300px;
    }

    Section:nth-of-type(2) article h3 {
        width: 300px;
    }

/**********/
/* THEMA */
/**********/
    Section:last-of-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }

    section:last-of-type article {
        margin: 1em;
        padding: 0 3em;
    }
    Section:last-of-type img {
        width: auto;
        height: 10em;
        margin: 0 0 1em;
    }

    Section:last-of-type img:hover {
        transform: scale(1.5);
        transition: 500ms;
    }

/**********/
/* FOOTER */
/**********/

footer ul {
    background: var(--footer-color);

    display: flex;
    justify-content: right;

    list-style-type: none;
    padding: 1em 0;
}

.mario footer ul {
    background-color: #000ABA;
}

.luigi footer ul {
    background-color: green;
}

.peach footer ul {
    background-color: hotpink;
}

footer li {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
